$primery: #333333;
$white: #fff;
$blue: #5540bf;
$yellow: #ffd100;
$xl-widht: 1180px;
$sm: 88%;
$md: 92%;
$lg: 960px;
$xl: 1180px;
$font-sixe-xl: 36px;
$header-bg: linear-gradient(78.43deg, #5540bf 41.5%, #afa1f9 146.78%);
$shadow: 0px 0px 20px rgba(51, 51, 51, 0.2);
$bradius: 5px;
